global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  30m
    timeout server  30m

# Interface Web de Statistiques HAProxy
frontend stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 5s
    stats auth admin:${HAPROXY_STATS_PASSWORD:-admin}

# Port d'écriture (Routage vers Melchior Primary)
frontend postgres_write_front
    bind *:5000
    default_backend postgres_write_back

backend postgres_write_back
    mode tcp
    option tcp-check
    server melchior melchior_db:5432 check inter 3s fall 3 rise 2

# Port de lecture (Round-Robin entre Balthasar et Casper Replicas)
frontend postgres_read_front
    bind *:5001
    default_backend postgres_read_back

backend postgres_read_back
    mode tcp
    balance roundrobin
    option tcp-check
    server balthasar balthasar_db:5432 check inter 3s fall 3 rise 2
    server casper casper_db:5432 check inter 3s fall 3 rise 2
